@model List<ShoppingMongo.Dtos.ProductImageDtos.ResultProductImageDto>

@{
    ViewData["Title"] = "ProductImageList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>ProductImageList</h1>
<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Ürün Resmi</th>
            <th class="text-center">Sil</th>
            <th class="text-center">Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th class="text-center">@count</th>
                <th class="text-center">@item.ProductImageUrl</th>
                <td><a href="/ProductImage/DeleteProductImage/@item.ProductImageId" class=" btn btn-danger form-control">Sil</a></td>
                <td><a href="/ProductImage/UpdateProductImage/@item.ProductImageId" class=" btn btn-info form-control">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/ProductImage/CreateProductImage/" class="btn btn-primary form-control">Yeni Ürün Resmi</a>
</div>
